.root {
  --alert-color: #fa5252;

  box-sizing: border-box;
  padding: 12px 16px;
  border: 1px solid var(--alert-color);
  border-radius: 4px;
  font-family: 'Saira Semi Condensed', system-ui, sans-serif;
  font-size: 14px;
  line-height: 1.55;
}

.root[data-color='yellow'] {
  --alert-color: #fab005;
}

.title {
  margin-bottom: 4px;
  font-weight: 700;
  color: var(--alert-color);
}

.message {
  color: inherit;
}
