.root {
  fill: #fff;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 14px;
  text-transform: uppercase;
  pointer-events: none;
  user-select: none;
}
