[data-element='7'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/armor_32px.png');
}

[data-element='8'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/energy_turrets_32px.png');
}

[data-element='9'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/missiles_32px.png');
}

[data-element='10'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/gunnery_32px.png');
}

[data-element='11'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/drones_32px.png');
}

[data-element='12'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/hybrid_turrets_32px.png');
}

[data-element='13'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/capacitor_warfare_32px.png');
}

[data-element='14'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/sensor_dampening_32px.png');
}

[data-element='15'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/ecm_32px.png');
}

[data-element='16'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/target_painting_32px.png');
}

[data-element='17'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/tracking_disruption_32px.png');
}

[data-element='18'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/stasis_webifying_32px.png');
}

[data-element='19'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/warp_prevention_32px.png');
}

[data-element='20'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/shields_32px.png');
}

[data-element='22'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/attack_32px.png');
}

[data-element='23'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/combat_32px.png');
}

[data-element='24'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/disruption_32px.png');
}

[data-element='25'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/fleet_support_32px.png');
}

[data-element='26'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/hauling_32px.png');
}

[data-element='27'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/resource_harvesting_32px.png');
}

[data-element='28'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/career_icons/explorer_32px.png');
}

[data-element='29'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/tackling_32px.png');
}

[data-element='30'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/small_32px.png');
}

[data-element='31'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/medium_32px.png');
}

[data-element='32'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/large_32px.png');
}

[data-element='33'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/extra_large_32px.png');
}

[data-element='45'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/precursor_32px.png');
}

[data-element='2046'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/shields_armor_32px.png');
}

[data-element='2048'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/vorton_projector_32px.png');
}

[data-element='2056'] {
  --ship-tree-elements-icons: url('res:/ui/texture/eveicon/category_icons/damage_over_time_32px.png');
}
