[data-group='4'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/rookie.png');
}

[data-group='8'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/frigate.png');
}

[data-group='9'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/frigate.png');
}

[data-group='10'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/frigate.png');
}

[data-group='11'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/frigate.png');
}

[data-group='12'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/frigate.png');
}

[data-group='13'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/frigate.png');
}

[data-group='14'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/destroyer.png');
}

[data-group='15'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/destroyer.png');
}

[data-group='16'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/cruiser.png');
}

[data-group='17'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/cruiser.png');
}

[data-group='18'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/cruiser.png');
}

[data-group='19'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/cruiser.png');
}

[data-group='20'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/cruiser.png');
}

[data-group='21'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/cruiser.png');
}

[data-group='22'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/cruiser.png');
}

[data-group='23'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/battlecruiser.png');
}

[data-group='24'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/battlecruiser.png');
}

[data-group='25'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/battlecruiser.png');
}

[data-group='26'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/battleship.png');
}

[data-group='27'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/battleship.png');
}

[data-group='28'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/battleship.png');
}

[data-group='32'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/capital.png');
}

[data-group='33'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/supercapital.png');
}

[data-group='34'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/titan.png');
}

[data-group='35'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/shuttle.png');
}

[data-group='36'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/industrial.png');
}

[data-group='37'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/freighter.png');
}

[data-group='38'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/freighter.png');
}

[data-group='40'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/industrial.png');
}

[data-group='41'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/miningfrigate.png');
}

[data-group='42'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/miningbarge.png');
}

[data-group='43'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/miningbarge.png');
}

[data-group='44'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/industrial.png');
}

[data-group='45'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/industrialcommand.png');
}

[data-group='46'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/freighter.png');
}

[data-group='47'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/battleship.png');
}

[data-group='48'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/miningfrigate.png');
}

[data-group='50'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/destroyer.png');
}

[data-group='93'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/destroyer.png');
}

[data-group='94'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/frigate.png');
}

[data-group='96'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/cruiser.png');
}

[data-group='2101'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/destroyer.png');
}

[data-group='2102'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/capital.png');
}

[data-group='2104'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/capital.png');
}

[data-group='2107'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/capsule.png');
}

[data-group='2108'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/miningdestroyer.png');
}

[data-group='2109'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/battlecruiser.png');
}

[data-group='2110'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/miningdestroyer.png');
}

[data-group='2111'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/miningfrigate.png');
}

[data-group='2112'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/miningdestroyer.png');
}

[data-group='2113'] {
  --ship-tree-groups-icon: url('res:/ui/texture/classes/shiptree/groupicons/supercapital.png');
}
