{
  "extends": "../../internal/tsconfig/react.json",
  "include": ["src", "../../@types"],
  "exclude": ["**/*.story.tsx", "**/*.story.ts"],
  "references": [{ "path": "./tsconfig.stories.json" }],
  "compilerOptions": {
    "noEmit": true,
    "types": ["vitest/globals", "@testing-library/jest-dom"]
  }
}
