import path from 'node:path';
import { fileURLToPath } from 'node:url';
import { createReactRollupConfig } from '../../internal/react-build/create-rollup-config';

const packageDir = path.dirname(fileURLToPath(import.meta.url));

export default createReactRollupConfig({
  packageDir,
  cssPrefix: '__CSS_PREFIX__',
});
